// every css variables will be here

$color-primary: #62b61e;
$color-primary-lighter: #9abe7d;
$color-primary-lightest: #bac9ae;
$color-primary-darker: #427e12;
$color-primary-darkest: #274a0a;

$padding-1: 2px;
$padding-2: 4px;
$padding-3: 8px;
$padding-4: 16px;
$padding-5: 32px;

$margin-1: 2px;
$margin-2: 4px;
$margin-3: 8px;
$margin-4: 16px;
$margin-5: 32px;

$font-size-1: 8px;
$font-size-2: 10px;
$font-size-3: 14px;
$font-size-4: 18px;
$font-size-5: 26px;

$line-height-1: 10px;
$line-height-2: 12px;
$line-height-3: 16px;
$line-height-4: 22px;
$line-height-5: 30px;


